<div class="centering-content extra">
  <a class="doculinks" href="../sams/documentation.html">Documentation</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="doculinks" href="../sams/tutorial.html">Tutorial</a>
</div>