	<META http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<link rel="apple-touch-icon" href="../sams/img/sams-square-pad.png" />
	<link rel="apple-touch-startup-image" href="../sams/img/sams-square-pad.png" />
  <link href="../sams/sty_ro.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="../sams/img/sams2b.png" type="image/png" />
  <title>SAMS – <TMPL_VAR HEAD_TITLE /></title>
	<script type="text/javascript" src="../sams/some.js"></script>
