<!-- THESE PARAMETERS SHOULD BE ALIGNED WITH PARAM IN SAMS.PM -->
<input type="hidden" name="pat_no" value="<TMPL_VAR NAME=PAT_NO />" />
<input type="hidden" name="role" value="<TMPL_VAR NAME=ROLE />" />
<input type="hidden" name="external_id" value="<TMPL_VAR NAME=EXTERNAL_ID />" />
<!--<input type="hidden" name="notice" value="<TMPL_VAR NAME=NOTICE />" />-->
<input type="hidden" name="phenotype" value="<TMPL_VAR NAME=PHENOTYPE />" />

