<!DOCTYPE html>
<HTML>
  <head>
    <TMPL_INCLUDE NAME="_header.tmpl" />
  </head>

<body>
  <TMPL_INCLUDE NAME="_topbar.tmpl" />

  <DIV class="centering-content">
    <DIV class="centering-inner">

      <TMPL_VAR CONTENT>

    </div>
  </div>

  <TMPL_INCLUDE NAME="_doculinks.tmpl" />
</body>

</HTML>